.countdown-timer {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
}

.countdown-timer__circle circle {
  stroke-dasharray: 600px;
  stroke-dashoffset: 600px;
  stroke-linecap: round;
  stroke-width: 10px;
  stroke: white;
  fill: none;
}

.countdown-timer__circle svg {
  width: 200px;
  height: 200px;
  transform: rotateZ(-90deg);
}

.countdown-timer__text {
  position: absolute;
  top: 70px;
  width: 200px;

  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: white;
}

@keyframes countdown-animation {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 600px;
  }
}
