.text {
  color: #ff5155;
}

.text-center {
  text-align: center;
}

.scores-box {
  min-height: 50px;
  width: 80%;
  border: 3px solid #ff5155;
  /* border-radius: 20px; */
  margin: auto;
}

.div-timer {
  max-width: 90%;
  margin: auto;
}

.timer {
  margin: auto;
}

.input-box {
  background-color: rgba(245, 245, 245, 0.404);
  height: 50px;
  font-size: 1.5rem;
  font-weight: 800;
  border: none;
  border-radius: 5px;
  /* border: 2px solid #ff5155; */
  color: black;
  text-transform: uppercase;
  max-width: 70%;
  padding-left: 10px;
}

input:focus {
  border: none;
  outline: none;
}

.new-word {
  font-size: 2rem;
  color: white;
  font-weight: 800;
}
